body {
    margin-bottom: 20px;
    background-color: #DCDCDC;
    overflow-x: hidden;
    padding-top: 70px;
}

.navbar {
    background-color:  #708090;
}

.navbar .navbar-brand {
    color: #fff;
    margin-left: 0px !important;
}
.retail-dash {
    background-color:  #5f9ea0 !important;
}
.retail-dash-market {
    background-color:  #708090 !important;
}
.market-basket {
    background-color: #5f9ea0 !important;
    position: absolute;
    left: 220px;
}




.main-wrap {
  max-width: 1200px;
  margin: auto;
  margin-top: 20px;
}

.highcharts-credits{
    color: transparent;
    opacity: 0;

}

/* Start of Loading image */
.loading {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 10;
}

.loading .status {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.7;
}

.loading .loading-img {
    height: 170px;
}

.loading .no-data {
    display: none;
    font-size: 1.5em;
}
/* End of Loading image */

/* Start of d3-tip */
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -2px 0 0 0;
  top: 100%;
  left: 0;
}
/* End of d3-tip */

/* Start of treemap */
.cat-revenue .chart text {
  pointer-events: none;
}

.cat-revenue .chart .grandparent text { /* header text */
  font-weight: bold;
  font-size: 12px;
}

.cat-revenue .chart rect {
  fill: none;
  stroke: #fff;
}

.cat-revenue .chart rect.parent,
.grandparent rect {
  stroke-width: 2px;
}

.cat-revenue .chart .grandparent rect {
  fill: #fff;
}

.cat-revenue .chart .children rect.parent,
.cat-revenue .chart .grandparent rect {
  cursor: pointer;
}

.cat-revenue .chart rect.parent {
  pointer-events: all; 
}

.cat-revenue .chart .children:hover rect.child,
.cat-revenue .chart .grandparent:hover rect {
  fill: #aaa;
}

.cat-revenue .chart .textdiv { /* text in the boxes */
  font-size: x-small;
  padding: 5px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif; 
}
/* End of treemap */

.main-container {
    padding-right: 30px;
}

.card {
  margin-bottom: 15px;
    background-color: #fff;
    -webkit-box-shadow: 0px 4px 10px 2px rgba(184,184,184,1);
    -moz-box-shadow: 0px 4px 10px 2px rgba(184,184,184,1);
    box-shadow: 0px 4px 10px 2px rgba(184,184,184,1);
}

.card p {
    margin: 0;
}

.card .card-title {
    padding: 10px;
    border-bottom: 1px solid #ababab;
}

.card .card-title p {
    font-size: 16px;
    display: inline-block;
}

.card .content {
    padding: 10px;
    position: relative;
}

.card.cadetblue {
    background-color: #5f9ea0;
    color: #fff;
}

.card.slategrey {
    background-color: #708090;
    color: #fff;
}

.card.cadetblue .card-title,
.card.slategrey .card-title {
    border-bottom: 1px solid #fff;
}

/* Start of Top Cards styles */
.top-cards .card {
    height: 150px;
}

.top-cards .card .card-title p {
    text-align: center;
    font-size: 20px;
}

.top-cards .card .content {
    padding: 10px 25px;
}

.top-cards .col-sm-2,
.top-cards .col-sm-4{
    padding-right: 0;
}

.top-cards .card .content .number {
    text-align: center;
    font-size: 35px;
    vertical-align: middle;
    margin-top: 12px;
}

.top-cards .card .metric {
    line-height: 25px;
}

.top-cards .card .metric .mTitle {
    font-weight: 600;
}
/* End of Top Cards */

/* Start of Charts */
.charts .col-sm-6 {
  padding-right: 0;
}

.charts .filters {
    display: inline-block;
    float: right;
    position: relative;
    right: 25px;
}

.charts .card .content {
  min-height: 400px;
}

.charts .card .loading {
    margin-left: -10px;
    margin-top: -10px;
}

.charts .sales-trend .area {
  opacity: 0.6;
}

.charts .info-icon {
    cursor: pointer;
}

.charts .tooltip {
    cursor: default;
}

.charts .tooltip-inner {
    max-width: 300px;
    border-style: double;
}

.charts .fa-volume-up {
    font-size: 20px;
    float: right;
    padding-left: 5px;
    cursor: pointer;
}

.charts p.generated-text {
    font-size: 13px;
}
/* End of Charts */
