

        {% load static %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'style.css' %}">

        {% block title %}
            <title>HighChartDjango</title>
        {% endblock title %}

        {% block custom_css %}
        {% endblock custom_css %}
    <body>
    <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
    </div>
  </nav>

    {% block content %}
    {% endblock content %}


    <!-- Core Scripts - Include with every page -->
    <!-- Start of dependecy libraries -->
  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>

  <!-- End of dependecy libraries -->
    {% block javascript %}
    {% endblock javascript %}

    </body>
</html>
