{% extends 'base.html' %}
{% load static %}


{% block custom_css %}

    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'graphs/bar.css' %}">
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/series-label.js"></script>


{% endblock custom_css %}
{% block content %}
          <div class="row charts rev-store-charts">
            <div class="col-sm-6">
              <div class="card rev-units">
                <div class="card-title month-filters rev-unit-tt">
                    <p>Chart1</p>
                </div>
                <div class="content">
                  <div id="container" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card store-revenue">
                <div class="card-title brand-filters brand-tt">
                    <p>Chart2</p>
                </div>
                <div class="content">
                 <div id="container1"></div>
                </div>
              </div>
            </div>
          </div>
{% endblock content %}
{% block javascript %}

  <!-- End of dependecy libraries -->
  <script src="{% static 'graphs/chart1.js'%}"></script>
  <script src="{% static 'graphs/chart2.js'%}"></script>
{% endblock javascript %}

